
//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core styles
.btn-primary {
   cursor: pointer;
   background-color: #F0AD00;
   background-image: linear-gradient(bottom, #F0AD00 57%, #F8CB43 78%);
   background-image: -o-linear-gradient(bottom, #F0AD00 57%, #F8CB43 78%);
   background-image: -moz-linear-gradient(bottom, #F0AD00 57%, #F8CB43 78%);
   background-image: -webkit-linear-gradient(bottom, #F0AD00 57%, #F8CB43 78%);
   background-image: -ms-linear-gradient(bottom, #F0AD00 57%, #F8CB43 78%);
   background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.57, #F0AD00), color-stop(0.78, #F8CB43) );
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8CB43, endColorstr=#F0AD00, GradientType=0);
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8CB43, endColorstr=#F0AD00)";
   border: 1px solid #F0AD00;
   border-top: 1px solid #F8CB43;
   color: @white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: @font-size-base;
   font-weight: @btn-font-weight;
   line-height: 1;
   margin: 12px 0 4px 0;
   padding: 5px 12px 4px;
   text-decoration: none;
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
   width:100%;
    @media (min-width: @screen-tablet) {
      width: auto;
      margin-bottom: 0px;
    }

  &:focus {
    .tab-focus();
  }

  &:hover,
  &:focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }



  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    .opacity(.65);
    .box-shadow(inset 0 0px 0px rgba(0,0,0,0));
  }

}
