
@font-face {
	font-family: 'icon-ui';
	src:url('../../fonts/icon-ui.eot?-d65l1z');
	src:url('../../fonts/icon-ui.eot?#iefix-d65l1z') format('embedded-opentype'),
		url('../../fonts/icon-ui.ttf?-d65l1z') format('truetype'),
		url('../../fonts/icon-ui.woff?-d65l1z') format('woff'),
		url('../../fonts/icon-ui.svg?-d65l1z#icon-ui') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-ui-"], [class*=" icon-ui-"] {
	font-family: 'icon-ui';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ICONOGRAPHY UI
 * -------------------------- */

 .icon-ui-check:before {
 	content: "\e600";
 }


// dBaker: Makes icons within buttons and links appear differently
button.btn > span,
button.btn-link > span,
button.btn-link-secondary > span{
    display: inline-block;
    vertical-align: middle;
    // font-size: @font-size-large;
}

button.btn > span {
    margin-right: 5px;
}

button.btn-link > span,
button.btn-link-secondary > span {
    margin-left: 5px;
}


a.btn > span,
a.btn-link > span,
a.btn-link-secondary > span{
    display: inline-block;
    vertical-align: middle;
    // font-size: @font-size-large;
}

a.btn > span {
    margin-right: 5px;
}

a.btn-link > span,
a.btn-link-secondary > span {
    margin-left: 5px;
}




// dBaker: Makes icon within form input line up correctly
.icon-form-align {
    position: absolute;
    right: 5px;
    top: 7px;
    font-size: 26px;
}
